name: Run the bot

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: jainamoswal/groupManager
          token: ${{ secrets.GH_PAT }}
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('setup.py') }}-${{ hashFiles('requirements.txt') }}

      - name: Install requirements
        run: |
          pip install --upgrade -r requirements.txt 

      - name: Running Bot
        timeout-minutes: 350
        continue-on-error: true
        run: |
          echo "Running the app"
          python -m Manager
